project test folder/folder-vulnerability-scan-workflow.json
{
  "name": "Folder Vulnerability Scan Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "folderPath",
              "name": "folderPath",
              "value": "={{ $json.folderPath || '/path/to/scan' }}",
              "type": "string"
            },
            {
              "id": "recipientEmail",
              "name": "recipientEmail",
              "value": "={{ $json.email || 'your-email@gmail.com' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-1",
      "name": "Set Folder Path & Email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "={{ $json.folderPath }}/**/*",
        "options": {
          "dataPropertyName": "fileContent"
        }
      },
      "id": "read-files-1",
      "name": "Read Files from Folder",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fileName",
              "name": "fileName",
              "value": "={{ $json.fileName || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "fileExtension",
              "name": "fileExtension",
              "value": "={{ $json.fileExtension || '' }}",
              "type": "string"
            },
            {
              "id": "fileContent",
              "name": "fileContent",
              "value": "={{ $binary.fileContent.toString('utf8') || '' }}",
              "type": "string"
            },
            {
              "id": "filePath",
              "name": "filePath",
              "value": "={{ $json.filePath || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-2",
      "name": "Extract File Info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [850, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "response",
        "modelId": {
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "responses": {
          "values": [
            {
              "type": "text",
              "role": "system",
              "content": "You are a security expert analyzing code for vulnerabilities. Analyze the provided code file and identify:\n1. Security vulnerabilities (SQL injection, XSS, CSRF, authentication issues, etc.)\n2. Common coding vulnerabilities (buffer overflows, race conditions, etc.)\n3. Dependency vulnerabilities\n4. Configuration issues\n\nFor each vulnerability found, provide:\n- Vulnerability type\n- Severity (Critical, High, Medium, Low)\n- Description\n- Affected code location\n- Recommended fix\n\nFormat your response as JSON:\n{\n  \"file\": \"filename\",\n  \"vulnerabilities\": [\n    {\n      \"type\": \"vulnerability type\",\n      \"severity\": \"Critical|High|Medium|Low\",\n      \"description\": \"detailed description\",\n      \"location\": \"line numbers or code snippet\",\n      \"fix\": \"recommended fix\"\n    }\n  ],\n  \"summary\": \"overall security assessment\"\n}"
            },
            {
              "type": "text",
              "role": "user",
              "content": "=Analyze the following code file for security vulnerabilities:\n\n**File:** {{ $json.fileName }}\n**Path:** {{ $json.filePath }}\n**Extension:** {{ $json.fileExtension }}\n\n```\n{{ $json.fileContent }}\n```\n\nProvide a comprehensive security analysis in the specified JSON format."
            }
          ]
        },
        "options": {
          "simplify": true,
          "maxTokens": 4000,
          "temperature": 0.3
        }
      },
      "id": "openai-1",
      "name": "AI Vulnerability Analysis",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [1050, 300],
      "credentials": {
        "openAiApi": {
          "id": "1",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "analysisResult",
              "name": "analysisResult",
              "value": "={{ JSON.parse($json.output || $json.text || '{}') }}",
              "type": "object"
            },
            {
              "id": "vulnerabilityTypes",
              "name": "vulnerabilityTypes",
              "value": "={{ (JSON.parse($json.output || $json.text || '{\"vulnerabilities\":[]}').vulnerabilities || []).map(v => v.type).filter((v, i, a) => a.indexOf(v) === i) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "set-3",
      "name": "Parse AI Analysis",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "url": "=https://services.nvd.nist.gov/rest/json/cves/2.0",
        "method": "GET",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "keywordSearch",
              "value": "={{ $json.vulnerabilityTypes.join(' ') || 'security vulnerability' }}"
            },
            {
              "name": "resultsPerPage",
              "value": "20"
            }
          ]
        },
        "options": {}
      },
      "id": "http-request-1",
      "name": "Query CVE Database",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cveResults",
              "name": "cveResults",
              "value": "={{ ($json.vulnerabilities || []).slice(0, 10).map(cve => ({ id: (cve.cve && cve.cve.id) || 'N/A', description: (cve.cve && cve.cve.descriptions && cve.cve.descriptions[0] && cve.cve.descriptions[0].value) || 'No description', severity: (cve.cve && cve.cve.metrics && cve.cve.metrics.cvssMetricV31 && cve.cve.metrics.cvssMetricV31[0] && cve.cve.metrics.cvssMetricV31[0].cvssData && cve.cve.metrics.cvssMetricV31[0].cvssData.baseSeverity) || (cve.cve && cve.cve.metrics && cve.cve.metrics.cvssMetricV2 && cve.cve.metrics.cvssMetricV2[0] && cve.cve.metrics.cvssMetricV2[0].baseSeverity) || 'UNKNOWN', score: (cve.cve && cve.cve.metrics && cve.cve.metrics.cvssMetricV31 && cve.cve.metrics.cvssMetricV31[0] && cve.cve.metrics.cvssMetricV31[0].cvssData && cve.cve.metrics.cvssMetricV31[0].cvssData.baseScore) || (cve.cve && cve.cve.metrics && cve.cve.metrics.cvssMetricV2 && cve.cve.metrics.cvssMetricV2[0] && cve.cve.metrics.cvssMetricV2[0].cvssData && cve.cve.metrics.cvssMetricV2[0].cvssData.baseScore) || 0 })) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "set-4",
      "name": "Format CVE Results",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fileAnalysis",
              "name": "fileAnalysis",
              "value": "={{ { fileName: $('Extract File Info').item.json.fileName, filePath: $('Extract File Info').item.json.filePath, analysis: $json.analysisResult, cveResults: $('Format CVE Results').item.json.cveResults } }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "set-5",
      "name": "Prepare File Analysis",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "fieldToAggregate": "fileAnalysis",
        "options": {}
      },
      "id": "aggregate-1",
      "name": "Aggregate All File Analyses",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "response",
        "modelId": {
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "responses": {
          "values": [
            {
              "type": "text",
              "role": "system",
              "content": "You are a security report generator. Create a comprehensive, professional security vulnerability report based on multiple file analysis results and CVE database findings. Format the report as HTML email content with proper styling. Include:\n1. Executive summary with total files analyzed and vulnerability count\n2. Files analyzed (list all files)\n3. Vulnerabilities found grouped by severity (Critical, High, Medium, Low)\n4. CVE database matches with relevant CVEs\n5. Recommendations prioritized by severity\n6. Priority actions and next steps\n\nUse professional HTML styling with colors for severity levels. Make it clear, actionable, and easy to read."
            },
            {
              "type": "text",
              "role": "user",
              "content": "=Generate a comprehensive security vulnerability report based on the following analysis of multiple files:\n\n**All File Analyses:**\n{{ JSON.stringify($json.fileAnalysis, null, 2) }}\n\n**Total Files Analyzed:** {{ $json.fileAnalysis.length }}\n\nCreate a professional HTML email report with:\n- Executive summary\n- Complete list of all files analyzed\n- All vulnerabilities found across all files, grouped by severity\n- Relevant CVE database matches\n- Prioritized recommendations\n- Actionable next steps\n\nFormat as HTML with proper styling for email."
            }
          ]
        },
        "options": {
          "simplify": true,
          "maxTokens": 6000,
          "temperature": 0.2
        }
      },
      "id": "openai-2",
      "name": "Generate Security Report",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [2050, 300],
      "credentials": {
        "openAiApi": {
          "id": "1",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "emailSubject",
              "name": "emailSubject",
              "value": "=Security Vulnerability Scan Report - {{ $now.toFormat('yyyy-MM-dd HH:mm') }}",
              "type": "string"
            },
            {
              "id": "emailBody",
              "name": "emailBody",
              "value": "={{ $('Generate Security Report').item.json.output || $('Generate Security Report').item.json.text || 'Security scan completed. Please check the workflow execution for details.' }}",
              "type": "string"
            },
            {
              "id": "recipientEmail",
              "name": "recipientEmail",
              "value": "={{ $('Set Folder Path & Email').item.json.recipientEmail }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-6",
      "name": "Format Email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2250, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.recipientEmail }}",
        "subject": "={{ $json.emailSubject }}",
        "emailType": "html",
        "message": "={{ $json.emailBody }}",
        "options": {}
      },
      "id": "gmail-1",
      "name": "Send Email via Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2450, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "1",
          "name": "Gmail OAuth2"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Folder Path & Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Folder Path & Email": {
      "main": [
        [
          {
            "node": "Read Files from Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Files from Folder": {
      "main": [
        [
          {
            "node": "Extract File Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract File Info": {
      "main": [
        [
          {
            "node": "AI Vulnerability Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Vulnerability Analysis": {
      "main": [
        [
          {
            "node": "Parse AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Analysis": {
      "main": [
        [
          {
            "node": "Query CVE Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query CVE Database": {
      "main": [
        [
          {
            "node": "Format CVE Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format CVE Results": {
      "main": [
        [
          {
            "node": "Prepare File Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare File Analysis": {
      "main": [
        [
          {
            "node": "Aggregate All File Analyses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate All File Analyses": {
      "main": [
        [
          {
            "node": "Generate Security Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Security Report": {
      "main": [
        [
          {
            "node": "Format Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Email": {
      "main": [
        [
          {
            "node": "Send Email via Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email via Gmail": {
      "main": [
        []
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-27T00:00:00.000Z",
  "versionId": "1"
}

